header {
	font: 14px Arial;
	margin-bottom: 60px;
}
.logo {
	float: left;
	padding-top: 40px;
	padding-left: 20px;
}
.logo-title {
	font-family: 'BebasNeue';
	font-size: 36px;
	text-transform: uppercase;
} 
.menu {
	float: right;
	font-family: 'Helvetica-Condensed-Light';
	font-size: 16px;
	text-transform: uppercase;
}
.menu a {
	float: left;
	display: block;
	padding: 50px 12px 20px 12px;
}
.menu a:hover, .menu-link-active {
	background: #d45e5e;
	color: #fff;
}

